// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//navbar\\

.logo {
  height: 180%;
}




// INDEX HOME PAGE

.inner {
  height: 100%;
  width: 100%;
  z-index: 2 !important;
  position: relative;
  vertical-align: middle;

}

.hero-image {
  z-index: -1 !important;
  position: absolute;
  width: 100%;
}

.cover-heading {
  margin-top: 0px;
}

.main-title {
  // margin-top: 100px;
}

.navbar{
  margin-bottom: 0px !important;
}

.container-two {
  height: 50px;
}


.inner, .search-bar, .container-two {
  text-align: center;
}

.section1 {
  height: 600px;
  background:
    url("http://i.imgur.com/Cg1cbzK.jpg") no-repeat center center;
  background-size: cover;

}

nav {
  background-color: transparent;
}



.section2 {
  height: 300px;
}

.section2-pictures {
  width: 209px;
  height: 209px;
}

.container-section3 {
   margin-left: 50px;
}

