<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="inner cover">
            <h1 class="cover-heading">After-School</h1>
            <p class="lead"></p>

        </div>


          <div class="background-video">
            <video autoplay loop>
              <source src="https://a0.muscache.com/airbnb/static/Seoul-P1-4.mp4" type="video/mp4">
              <source src="https://a0.muscache.com/airbnb/static/Seoul-P1-4.webm" type="video/webm">
            </video>
          </div>

        </div>


    </div>

</div>
