<div class="site-wrapper">

    <div class="site-wrapper-inner">

          <div class="background-video">
            <video autoplay loop>
              <source src="https://a0.muscache.com/airbnb/static/London-P1-1.mp4" type="video/mp4">
              <source src="https://a0.muscache.com/airbnb/static/London-P1-0.webm" type="video/webm">
            </video>
          </div>


          <div class="inner">
              <h1 class="cover-heading">After-School</h1>
              <p class="lead">Where kids can enjoy life.</p>
          </div>

    </div>

</div>


