<!DOCTYPE html>
<html>
<head>
  <title>Hackproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  	<div class="navbar-header">

      <a class='navbar-brand' id='nav-color' href='/'> <img class="logo" src="https://lh6.googleusercontent.com/7esGUJtfa09XgGRyGDb2rE1gkSwo5xjIxIH1nrNJCyuluFWwYi_3FljMKfwZCAi-yUQjbg=w2512-h1216"></a>

      <a class='navbar-brand' id='nav-color' href='/'>Become an Organization</a>
 	</div>
  <div class="collapse navbar-collapse">
 		<ul class='nav navbar- navbar-nav'> </ul>
      </div>
  </div>
</nav>


<%= yield %>

</body>
</html>
